
    body{
        background: url('../html/tải\ xuống\ \(1\).jpg');
        background-size: cover;
        
        
    }
    #wrapper{
        min-height: 100vh;
        min-width: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    } 
    #form-login{
        max-width: 400px;
        background: rgb(237, 238, 236);
        flex-grow: 1;
        padding: 30px 30px 40px;
        box-shadow: 0px 0px 17px 3px rgba(255, 3, 3, 0.705);
    }
    .form-heading{
     font-size: 25px;
     color: rgb(0, 0, 0);
     text-align: center;
     margin-bottom: 30px;
    }
    .form-group{
        border-bottom: 1px solid #fff;
        margin-bottom: 20px;
        color: #f5f5f5;
        display: flex;
    }
    .form-group i{
        color: #f00f0f;
        font-size: 14px;
    }
    .form-input{
        background: transparent;
        border: 0;
        outline: 0;
        flex-grow: 1;

    }
    .form-input::placeholder{
        color: #d62727 ;
    }
    .form-input-me{
        background: transparent;
        border: 0;
        outline: 0;
        flex-grow: 1;

    }
    .form-input-me::placeholder{
        color: red;
    }

    #eye i{
        padding-right: 0;
        cursor: pointer;
    }
    .form-submit{
        background: transparent;
        border: 1px solid #ec11b5;
        color: #ff0303;
        width: 100%;
        text-transform: uppercase;
        padding: 6px 10px;
        transition: 0.30s ease-in-out;   
        margin-top: 30px;
    }
    .form-submit:hover{
        border: 2px solid #54a0ff;
    }
    .dangku{
        padding-top: 20px;
    }
 
